<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.RecommendDao">

    <sql id="table">
        recommend
    </sql>

    <sql id="baseColumn">
        id,recommend_name,seq,sku_id,up_time,down_time,recommend_desc
    </sql>

    <resultMap id="baseResultMap" type="com.common.entity.Recommend">
        <id column="id" property="id" />
        <result column="recommend_name" property="recommendName" />
        <result column="seq" property="seq" />
        <result column="sku_id" property="skuId" />
        <result column="up_time" property="upTime" />
        <result column="down_time" property="downTime"/>
        <result column="recommend_desc" property="recommendDesc" />
    </resultMap>

    <select id="getRecommendList" resultMap="baseResultMap" >
        SELECT
        <include refid="baseColumn" />
        FROM
        <include refid="table" />
        WHERE
         now()  &gt; up_time and now()  &lt; down_time
        Order BY seq
    </select>

</mapper>