<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.database.UserBasicInfoDao">

    <resultMap id="BaseResultMap" type="com.common.entity.user.UserBasicInfo" >
        <id column="id" property="id" jdbcType="INTEGER"  />
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="mail" property="mail" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <sql id="Base_column_list">
        id,nickname,real_name,mail,phone,create_time,update_time
    </sql>

    <select id="get" parameterType="com.common.entity.user.UserBasicInfo" resultMap="BaseResultMap">
        SELECT 
          <include refid="Base_column_list" />
        FROM
          user_basic_info
        WHERE
          1 = 1
          <if test="nickname != null and nickname != ''">
              AND nickname = #{nickname}
          </if>
          <if test="realName != null and realName != '' ">
              AND realName = #{realName}
          </if>
          <if test="mail != null and mail != '' ">
              AND login_time = #{loginTime}
          </if>
          <if test="phone != null and phone != '' ">
              AND phone = #{phone}
          </if>
          <if test="createTime != null and createTime != '' ">
              AND create_time = #{createTime}
          </if>
          <if test="updateTime != null and updateTime != '' ">
              AND update_time = #{createTime}
          </if>
    </select>

    <insert id="add" parameterType="com.common.entity.user.UserBasicInfo">
        insert into user_basic_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nickname != null">
                nickname,
            </if>
            <if test="realName != null">
                real_name,
            </if>

            <if test="mail != null">
                mail,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nickname != null">
                #{nickname},
            </if>
            <if test="realName != null">
                #{realName},
            </if>
            <if test="mail != null">
                #{mail},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.common.entity.user.UserBasicInfo">
        update user_basic_info
        <set>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="realName != null and realName != '' ">
                real_name = #{realName},
            </if>
            <if test="phone != null and phone != '' ">
                phone = #{phone},
            </if>
            <if test="createTime != null and createTime != '' ">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null and updateTime != '' ">
                update_time = #{createTime},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="com.common.entity.user.UserBasicInfo">
        delete from
        user_basic_info
        where id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>